@charset "UTF-8";

div.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: 300px;
    height: 300px;
}

header {
    background-image: url(imagens/wallpaper002.jpg);
    padding: 20px;
    border: 30px;
    height: 300px;
    width: 915px
} 

body {
    background-color: white;
}

#q1 {
    background-color: skyblue;
}
#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}
#q3 {
    background-image: url('imagens/pattern003.png');
}
