@charset="UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}

body {
    background-image: linear-gradient(to right,#CAEB10,#32332C);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4e5237bb;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #A3B832;
    text-align: center;
    text-shadow: 1px 1px 0px #a4b83269;
}

h2{
    color: #4E5237;
}

p {
    text-align: justify;
}