@charset "utf-8";
    
body {
            background-color: rgb(62, 97, 109);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
}

h1  {
            color: rgb(26, 26, 148);
            background-color: rgb(54, 160, 196);
}
h2 {
            color: rgb(32, 2, 2);
}
p{
            text-align: justify;
}
